<!-- <h5>Start the game?</h5> -->
<!-- <a href="" ng-click="" class="btn btn-success">Start The Game</a> -->
<!-- <a href="" class="btn btn-success">No</a> -->
<div ng-controller="joinGameCtrl">
	<form ng-submit="joinGame()">
		<input ng-model="joinGameID" type="text" name="joinGameID" placeholder="Type the game ID" />
		<button type="submit" class="btn btn-success">Join game</button>
		<!-- <p>{{joinGameID}}</p> -->
	</form>
	<p>{{messages}}</p>
</div>


<!-- <div ng-controller="ChatCtrl">
	<form ng-submit="sendMessage()">
		<input ng-model="messageContent" type="text" placeholder="Type your message" />
		<button type="submit">Send</button>
	</form>
</div> -->
<!-- <ul>
     <li ng-repeat="message in messages">
       <span class="title">Anonymous robot #{{ message.sender_uuid }}</span>
       <p>{{ message.date | date:"MM/dd/yyyy 'at' h:mma"}}</br> {{ message.content }}</p>
     </li>
</ul>  -->
