<ng-repeat
<div class="col-xs-6 col-sm-3"><strong>Motion:</strong> 
		<ul>
			<li>Topic: {{itemDetail.topic}}</li>
			<li>Type: {{itemDetail.type}}</li>
		</ul>
</div>
<div><strong>Effects:</strong> 
		<ul>
			<li>Land: {{effects.land}}</li>
			<li>Population: {{effects.population}}</li>
			<li>Energy: {{effects.energy}}</li>
			<li>Food: {{effects.food}}</li>
		</ul>
</div>
<div >
	<strong>Influence Spent:</strong>
	<br>
	<button ng-click="count = count + 1">+</button>
	<p>{{ count }}</p>
	<button ng-click="count = count - 1">-</button>
</div>
<strong>Influence Required: {{effects.influence_required}}</strong>

<form ng-submit="submitMotion()">

	<input type="submit" value="Send" />
</form>