<div class="box-container flex-container">
	<div class="box flex-container flex-1">
		<div class="box flex-2 inside-box">a profile picture</div>
		<div class="box flex-3 inside-box">
			<ul>
				<li>Class: {{itemDetail.class}}</li>
				<li>Type: {{itemDetail.type}}</li>
				<li>Habitat: {{itemDetail.habitat}}</li>
			</ul>
		</div>
		<div class="flex-1">something else</div>
	</div>
</div>
<div class="box-container flex-container">
	<div class="box col-100">
		<div class="flex-container flex-0 influence-box">
			<div class="flex-2"></div>
			<div class="box flex-3 inside-box">Influence</div>
			<div class="flex-1"></div>
		</div>	

		<div class="flex-container flex-0 prop-box">
			<div class="box flex-5 inside-box inside-no-corner">Land Usage</div>
			<div class="flex-1">nav</div>
		</div>
		<div class="flex-container flex-0 prop-box">
			<div class="box flex-5 inside-box inside-no-corner">Population</div>
			<div class="flex-1">nav</div>
		</div>
		<div class="flex-container flex-0 prop-box">
			<div class="box flex-5 inside-box inside-no-corner">Energy</div>
			<div class="flex-1">nav</div>
		</div>
		<div class="flex-container flex-0 prop-box">
			<div class="box flex-5 inside-box inside-no-corner">Food</div>
			<div class="flex-1">nav</div>
		</div>
	</div>
</div>

<div class="box-container flex-container">
	<div class="box flex-container-center flex-1">
		<a ng-click="goVote()" class="button btn-main"><span>Vote</span></a>
	</div>
</div>

<!-- <div class="box-container">
	<div class="border"></div>
	<div class="box-content">
		<ul>
			<li>Class: {{itemDetail.class}}</li>
			<li>Type: {{itemDetail.type}}</li>
			<li>Habitat: {{itemDetail.habitat}}</li>
		</ul>
		<p>Species: {{itemDetail.name}}</p>
	</div>
	<div class="border"></div>
</div>

<form ng-submit="sendReady()">
	<button type="submit" class="btn btn-primary">Ready to Play?</button>
</form> -->